.ControlPanel {
  display: block;
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  background-color: silver;
  width: calc(100vw - 100vmin);
  height: 100%;
}
@media (orientation: portrait) {
  .ControlPanel {
    position: absolute;
    top: auto;
    bottom: 0;
    width: 100vw;
    min-height: 30vh;
    height: calc(100vh - 100vmin);
  }
}
